[Unit]
Description=Voltpop Announcer Daemon
After=network.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/opt/vp-announce
ExecStart=/usr/local/bin/pipenv run python3 announce.py

[Install]
WantedBy=multi-user.target
