<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/main.scss">
    <link rel="stylesheet" href="css/toolbar.scss">
</head>
<head>
 <h3>Welcome to Voltpop Announce</h3>
  <ul>
    <li style="float:right"><a class="active" href="add_channel">New Channel</a></li> 
    <li style="float:right"><a class="active" href="query_channel">Queue Logs</a></li> 
    <li style="float:right"><a class="active" href="#home">Home</a></li> 
  </ul> 
</head>
<body>
<div>
  <form action="add_channel.php" method="get">
    <label for="channel_key">Channel Key</label>
    <input type="text" id="channel_key" name="key" placeholder="Channel Key..">
    Security: <input type="checkbox" id="security" name="secured">
    Enabled: <input type="checkbox" id="security" name="enabled">
    Queryable: <input type="checkbox" id="security" name="queryable">
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>
