<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/toolbar.css">
    <title>VoltPop Announce</title>
</head>
<head>
 {{ toolbar|safe }}
</head>
<body>
<div>
    <form action="{{ url_for("add_channel") }}" method="post">
    <label for="channel_key">Channel Key</label>
    <input type="text" id="channel_key" name="key" placeholder="Channel Key..">
    <br>{{ error_msg }}<br>
    <br>Security: <input type="checkbox" id="security" name="secured"><br>
    <br>Enabled: <input type="checkbox" id="enabled" name="enabled"><br>
    <br>Queryable: <input type="checkbox" id="queryable" name="queryable"><br>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>
