<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/main.css">
<link rel="stylesheet" href="/static/toolbar.css">
<title> VoltPop Announce </title>
<ul>
<label="Voltpop Announce">
<li style="float:right"><a class="active" href="/add_channel">New Channel</a></li>
<li style="float:right"><a class="active" href="/query_channel">Queue Logs</a></li>
<li style="float:right"><a class="active" href="/">Home</a></li>
</ul> 
</head>
<body>
<div>
Welcome to VoltPopulous Announce PubSub Service
</div>
</body>
</html>
