<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/toolbar.css">
    <link rel="stylesheet" href="/static/table.css">
</head>
<head>
 {{ toolbar|safe }}
</head>
<body>
    <form action={{ url_for("query_channel") }} method="post">
    <label for="channel_key">Channel Key</label>
    <select id="channel_key" name="key">
      <option selected="selected">Channel Key</option>
      {% for key in channels %}<option>{{ key }}</option>
      {% endfor %}
    <input type="submit" value="Submit">
  </form>
  <div>
    <table style="width:100%">
      <tr>
        <th>ID</th>
        <th>Date / Time</th>
        <th>Channel</th>
        <th>JSON Payload</th>
      </tr>
      {% for d in data %}
      <tr>
        <td>{{ d[0] }}</td>
        <td>{{ d[1] }}</td>
        <td>{{ d[2] }}</td>
        <td>{{ d[3] }}</td>
      </tr>
      {% endfor %}
  </div>
</body>
</html>
