<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/toolbar.css">
</head>
<head>
 <h3>Welcome to Voltpop Announce</h3>
  <ul>
    <li style="float:right"><a class="active" href="/add_channel">New Channel</a></li>
    <li style="float:right"><a class="active" href="/query_channel">Queue Logs</a></li>
    <li style="float:right"><a class="active" href="/">Home</a></li>
  </ul> 
</head>
<body>
    <form action={{ url_for("query_channel") }} method="get">
    <label for="channel_key">Channel Key</label>
    <select id="channel_key" name="key">
      <option selected="selected">Channel Key</option>
      {% for key in channels %}<option>{{ key }}</option>
      {% endfor %}
    <input type="submit" value="Submit">
  </form>
  <div>
	  {{ data }}
  </div>
</body>
</html>
